<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Sesión</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body{
           background-color: #e7e7e7;
           /*color: white;*/
        }
    </style>

</head>
<body>
    <div class="container mt-5">
        <h2>Actualizar sesión</h2>
        <form method="post" class="row g-3">
            {% csrf_token %}
            
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Fecha</label>
                
                    {{ form.fecha }}
              
              </div>

              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Municipio</label>
                
                    {{ form.municipio }}
                
              </div>

              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Área de atención</label>
                
                    {{ form.area_atencion }}
                  
              </div>

              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Actividad</label>
                
                    {{ form.actividad }}
               
              </div>


              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Resultados</label>
                
                    {{ form.resultados }}
                 
              </div>

              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Recomendaciones</label>

                {{ form.recomendaciones }}

              </div>


              <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'sesiones' %}" class="btn btn-success">Regresar</a>
              </div>
        </form>


    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
