
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botón de emergencia</title>
    <link rel="stylesheet" href="{% static 'css/estilo_boton.css' %}">
</head>
<body>


<!-- Botón para desplegar el menú -->
 <div id="cont_btnmenu">
    <label class="hamburger">
      <input type="checkbox" id="icono"/>
      <svg viewBox="0 0 32 32">
        <path
          class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
        ></path>
        <path class="line" d="M7 16 27 16"></path>
      </svg>
    </label>


    <div class="cont-menu active" id="menu">

      <h3>Ingrese su código</h3>

      <input type="number" min="0" step="1" id="txt_codigo" placeholder="Código Ak'Yu'Am">
      <button id="btn_verificar">Guardar</button>

    </div>


</div>


  <div id="contenedor_boton">  
   
    <h1>Botón de emergencia</h1>
 
<!--<form method="POST" action="{% url 'notificacion_emergencia' %}"> -->
 <!-- {% csrf_token %} -->
<button class="button" id="boton">
  <div class="lid">
    <span class="side top"></span>
    <span class="side front"></span>
    <span class="side back"> </span>
    <span class="side left"></span>
    <span class="side right"></span>
  </div>
  <div class="panels">
    <div class="panel-1">
      <div class="panel-2">
        <div class="btn-trigger">
          <span class="btn-trigger-1"></span>
          <span class="btn-trigger-2"></span>
        </div>
      </div>
    </div>
  </div>
</button>
 <!--</form> -->

<p>Presione este botón si se encuentra en una situación de violencia intrafamiliar</p>

</div>

<script>

  //Enviar notificacion de emergencia por medio del boton

document.getElementById('boton').addEventListener('click', function() {

   // Capturamos el valor del cuadro de texto
   const codigo = document.getElementById('txt_codigo').value;

    fetch("{% url 'notificacion_emergencia' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"  // Incluye el token CSRF
        },
        body: JSON.stringify({
            "codigo": codigo  // Aquí enviamos el valor del input
        })
    })
    .then(response => response.text())
    .then(data => alert(data))
    .catch(error => console.error('Error:', error));
});

</script>

<script src="{% static 'js/boton.js' %}"></script>
</body>
</html>